<div class="row" *ngFor="let server of obtenerServicdores()" [routerLink]="['/servers',server.id,'edit']" routerLinkActive="router-link-active" >
    <div class="col">
    <!-- Por cada servidor crearemos una tarjeta con el nombre y
   el
    estado del servidor-->
    <div class="card mt-2">
            <div class="card-header">{{server.name}}</div>
                 <div class="card-body">
    <h5 class="card-title">Server Status:</h5>
    <p class="card-text">{{server.status}}</p>
                 </div>
        </div>
    </div>
    <div class="col-sm-4">
    <router-outlet></router-outlet>
  </div>
